@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:wght@300;400;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}


.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  background-image: url('./food.jpeg');
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: 3px solid burlywood;
  font-weight: bolder;

  div {
    cursor: pointer;
  }

  :hover {
    color: burlywood;
  }
}


.content {
  overflow-y: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  background-color: white;
  color: black;
}

.homeContainer {
  font-size: 1.2rem;
  color: white;
  display: grid;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding: 2rem;

  img {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    display: block;
    content: url("dog-cheff.jpeg");
  }
}

.about {
  color: black;
}

.aboutContainer {
  font-size: 1.2rem;
  color: white;
  display: grid;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}


.menu {
  background-color: white;
  flex-direction: column;
  justify-content: start;

}

.menu-item {
  max-width: 30rem;
  text-align: center;
}

.menu-item * {
  margin-top: 1rem;
}


.golden {
  color: #c59d5f;
}

.gray {
  color: #262626;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  margin-top: -72px;
  text-align: center;
  text-transform: uppercase;
}

.cursive {
  font-family: "Herr Von Muellerhoff", cursive;
  font-size: 96px;
  text-align: center;
  text-transform: capitalize;
}

p {
  line-height: 150%;
}



hr {
  width: 280px;
  border-top: 0.2rem solid #c59d5f;
  margin: 24px auto;  margin: 24px auto;
}

.head-hr {
  width: 300px;
  border-top: 0.4rem solid #c59d5f;
  margin: 24px auto;
  //background-color: #c59d5f;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid burlywood;
}